<div class="container">
  <h3>最热文章</h3>
  <div class="row ">
    <div>
        {% for article in hot_article_list %}
        <a href="{% url 'article:article_detail' article.id %}"
           style="font-weight: bold; color: black;text-decoration:none;"
           class="hvr-forward">
          {{ article.title }}
        </a>
        <p>
          <span>
           <i class="fas fa-eye" style="color: lightskyblue;"></i>{{ article.total_views }}浏览
          </span>
        </p>
        {% empty %}
        暂无文章！
        {% endfor %}

    </div>
  </div>
</div>
